
.overlay{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 10;
display: none;
background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.map{
  width: 50%;
  height: 60%;
  margin: 10% 25%;
  border-radius: 1em;
  overflow: hidden;
  background-color: white;
}

#map-canvas {
  height: 80%;
  width: 100%;
}

#titulo{
  height: 10%;
  width: 100%;
  text-align: center;
}

#direccion{
  height: 10%;
  width: 100%;
  text-align: center;
}

.ubicacion{
  cursor: pointer;
}

#nombre_negocio{
  color:#CB4335;
}

#direccion_negocio{
  color:#2D6D7B;
}

.ubicacion:hover{
   color:#37C561;
}